# 1.1.1. Objects and Attributes :

In [2]:
var = 2 -2j
print("Real part of 'var' : ", var.real)
print("Imaginary part of 'var' : ", var.imag)

Real part of 'var' :  2.0
Imaginary part of 'var' :  -2.0

# 1.1.2. Defining a Class in Python :

In [5]:
class vijesh:
    a = "Hi"  # Attribute
    def sum(self, a, b):   # Method
        print(a+b)
ans = vijesh()
ans.sum(1, 2)
print(ans.a)

3
Hi

# 1.2.1 Call by Object Reference :

In [8]:
x = [10, 20, 30]
y = x
y.append(2425)
print("List x : ", x)
print("List y : ", y)

List x :  [10, 20, 30, 2425]
List y :  [10, 20, 30, 2425]

In [10]:
y = x.copy()
y.append("hi")
print(f"List x : {x} , List y : {y}")

List x : [10, 20, 30, 2425] , List y : [10, 20, 30, 2425, 'hi']

# 1.2.2. Assigning Multiple Variable Names :

In [13]:
f_1, f_2, f_3 = "Apple", "Banana", "Cherry"
print(f_1)
print(f_3)

Apple
Cherry

In [15]:
x = y = z = "Vijesh"
print(x, y, z)

Vijesh Vijesh Vijesh

# Exercise 1 :

In [18]:
#1
num_students = 50
print(type(num_students))

#2
average_score = 85.6
print(type(average_score))

#3
is_lab_completed = True
print(type(is_lab_completed))

#4
course_name = "Machine Learning Lab"
print(type(course_name))

#5
students_name = ["vijesh", "ajai"]
print(type(students_name))

#6
rgb_colors = ("red", "green", "blue")
print(type(rgb_colors))

#7
students_scores = {"vijesh" : 100, "ram" : 99.6}
print(type(students_scores))

#8
unique_numbers = {1, 2, 3, 4, 5}
print(type(unique_numbers))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>

# Exercise 2 :

In [21]:
student_data = ("Vijesh", 20, "ECE")
print(student_data[1])

20

# Exercise 3 :

In [26]:
student_data[1] = 21
print(student_data)  # We cannot modify tuple

TypeError: 'tuple' object does not support item assignment

# Exercise 4 :

In [29]:
tuple_1 = ("python", "is")
tuple_2 = ("great", "!")
print("Concatenated Tuple:",tuple_1 + tuple_2)
print()
print("Repeated Tuple:", 3*tuple_1)

Concatenated Tuple: ('python', 'is', 'great', '!')

Repeated Tuple: ('python', 'is', 'python', 'is', 'python', 'is')

# Exercise 5 :

In [32]:
tuple = (10, 20, 30, 40, 50)
a = tuple[0]
b = tuple[2]
c = tuple[-1]
print(f"First value : {a}, Third value : {b}, Last value : {c}")

First value : 10, Third value : 30, Last value : 50

# Exercise 6 :

In [35]:
numbers = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
print("Elements from index 2 to 6 : ", numbers[2:7])
print()
print("Every second element:", numbers[::2])
print()
print("Reversed List:", numbers[ : : -1])

Elements from index 2 to 6 :  [30, 40, 50, 60, 70]

Every second element: [10, 30, 50, 70, 90]

Reversed List: [100, 90, 80, 70, 60, 50, 40, 30, 20, 10]

# Exercise 7 :

In [38]:
fruits = ["apple", "banana", "cherry"]
fruits.append("orange")
print("After Adding 'orange':", fruits)
print()
fruits.insert(1, "grape")
print("After Inserting 'grape' at index 1:", fruits)
print()
fruits.remove("banana")
print("After Removing 'banana':", fruits)
print()
fruits.pop()
print("After Popping Last Element:", fruits)

After Adding 'orange': ['apple', 'banana', 'cherry', 'orange']

After Inserting 'grape' at index 1: ['apple', 'grape', 'banana', 'cherry', 'orange']

After Removing 'banana': ['apple', 'grape', 'cherry', 'orange']

After Popping Last Element: ['apple', 'grape', 'cherry']

# Exercise 8 :

In [41]:
list_squares = [i**2 for i in range(1,11)]
list_even_num = [i for i in range(1, 20) if i%2 == 0]
print("List of Squares : ", list_squares)
print()
print("List of Even Numbers : ", list_even_num)
print()
words = ["cat", "elephant", "dog", "tiger", "mouse"]
words = [i for i in words if len(i) <= 5]
print("The words that contain letters only lessthan or equal  to 5 : ", words)

List of Squares :  [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

List of Even Numbers :  [2, 4, 6, 8, 10, 12, 14, 16, 18]

The words that contain letters only lessthan or equal  to 5 :  ['cat', 'dog', 'tiger', 'mouse']

# Exercise 9 :

In [44]:
List = [i**2 for i in range(1,11)]
print("List : ", List)
print()
List.append(1000)
print("After Adding an Element:", List)
print()
List.remove(100)
print("After Removing an Element:", List)
print()
List_slice = List[:5]
print("First 5 Elements:", List_slice)
print()
List.sort()
print("Sorted List:", List)
List_2 = [1, 2, 3, 4, 5]
List_Con = List+List_2
print("\nAfter Concatenation : ", List_Con)
print("\nLength of the list  :", len(List))
s =0
for i in range(len(List)):
    s += List[i]
print("Sum of all elements in the list : ", s)
print()
a = int(input("Enter the number to find in the list : "))
for i in range(len(List)):
    if List[i] == a :
        print("The given number is in the list .")
        break
    else:
        print("The given number is not in the list .")
        break
print()
print("max value in list : ", max(List))
print("\nmin value in list : ", min(List))
new_List = [i for i in range(2,11,2)]
print("\nThe new reversed list of only even squares : ", new_List[ : : -1])

List :  [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

After Adding an Element: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 1000]

After Removing an Element: [1, 4, 9, 16, 25, 36, 49, 64, 81, 1000]

First 5 Elements: [1, 4, 9, 16, 25]

Sorted List: [1, 4, 9, 16, 25, 36, 49, 64, 81, 1000]

After Concatenation :  [1, 4, 9, 16, 25, 36, 49, 64, 81, 1000, 1, 2, 3, 4, 5]

Length of the list  : 10
Sum of all elements in the list :  1285

Enter the number to find in the list :  64

The given number is not in the list .

max value in list :  1000

min value in list :  1

The new reversed list of only even squares :  [10, 8, 6, 4, 2]

# Exercise 10 :

In [47]:
person_info = {
    "name" : "Vijesh",
    "age" : 20,
    "city" : "Kulasehkaram",
    "occupation" : None
}
print("Name : ", person_info["name"])
print("Age : ", person_info["age"])

Name :  Vijesh
Age :  20

# Exercise 11 :

In [50]:
student_grades = { "Ram" : "o","Vijesh" : "A+" }
print("Keys:", student_grades.keys())     
print("Values:", student_grades.values())  
print("Items:", student_grades.items()) 
print()
items_list = list(student_grades.items())
print("Second item:", items_list[1])

Keys: dict_keys(['Ram', 'Vijesh'])
Values: dict_values(['o', 'A+'])
Items: dict_items([('Ram', 'o'), ('Vijesh', 'A+')])

Second item: ('Vijesh', 'A+')

# Exercise 12 :

In [53]:
car_inventory = { "BMW" : 10000000, "Tesla" : 2500000}
car_inventory["Audi A6"] = 6500000
del car_inventory["Tesla"]
car_inventory.pop("BMW")
print(car_inventory)

{'Audi A6': 6500000}

# Exercise 13 :

In [56]:
country_capitals = { "India" : "Delhi", "France" : "Landon"}
country_capitals.update({"France" : "paris"})
print(country_capitals)

{'India': 'Delhi', 'France': 'paris'}

# Exercise 14 :

In [59]:
student_scores = { "Vijesh" : 100, "Abi" : 99, "Sreedev" : 98 }
for x, y in student_scores.items():
    print(f"Student {x} scored {y}")

Student Vijesh scored 100
Student Abi scored 99
Student Sreedev scored 98

# Exercise 15 :

In [62]:
employee_details = { "Employee's id" : 1234567890, "Name" : "Vijesh", "Department" : "ECE"}
employee_details["salary"] = None
employee_details["position"] = "Student"
employee_details.update({"Department": "Software Development", "address": "123 Main St, T-Nagar"})
print(employee_details)

{"Employee's id": 1234567890, 'Name': 'Vijesh', 'Department': 'Software Development', 'salary': None, 'position': 'Student', 'address': '123 Main St, T-Nagar'}

# Exercise 16 :

In [65]:
dict_1 = {"India" : "Delhi"}
dict_2 = {'Germany': 'Berlin'}
dict_1.update(dict_2)
print("Merged Dictionary: ", dict_1)

Merged Dictionary:  {'India': 'Delhi', 'Germany': 'Berlin'}